@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic);

body {
    font-family: sans-serif;
    font-size: small;
}

#pin {
    position: relative;
    left: 700px;
    bottom: 115px;
}

.datacolumn {
    font-size: 0.95em;
	float: left;
}