.body {
    font-family: sans-serif;
    font-size: small;
    background: white;
    margin: 30px auto 0px auto;
    width: 1366px;
    height: 20000px;
    overflow: hidden;
}
.centerdiv {
    width:1000px;
    margin: 0 auto;
    background: white;
    border-right: gray;
    border-left: gray;
}
.uberhead {
    width: 300px;
    margin: 30;
    float: left;
    border-right:  #AAAAAA solid 1px; 
}
.head {
    padding: 30px 30px 50px 30px;
    margin: 0 auto;
    color: #4D7AC8;
    text-align: center;
}

.navlink {
    color: black;
    text-decoration: None;
}

#navigation {
    list-style: none;
    float: right;
    margin: 50px;
}
.headlink {
    text-align: center;
    padding-top: 5px;
}
.underhead {
    font-size: 1em;
}
.content {
    margin: 30px;
    float: left;
    width: 1000px;
}

.abouttext {
    width: 700px;
    margin: 40px;
}
.input {
    margin: 10px auto 0px auto;
    width: 200px;
}
.chart {
    width: 850px;
}
#cdids {
    width: 100%;
    float: left;
    list-style: None;
}
#datasets {
    width: 40%;
    float: left;
}
#cdid_ul {
    border: solid gray 1px;
    padding-start: 0px;
}