.body {
    font-family: sans-serif;
    font-size: small;
    background: white;
    margin: 30px auto 0px auto;
    width: 1366px;
    height: 20000px;
    overflow: hidden;
}
.centerdiv {
    width:1000px;
    margin: 0 auto;
    background: white;
    border-right: gray;
    border-left: gray;
}
.uberhead {
    width: 300px;
    margin: 30;
    float: left;
    border-right:  #AAAAAA solid 1px; 
}
.head {
    padding: 30px 30px 50px 30px;
    margin: 0 auto;
    color: #4D7AC8;
    text-align: center;
}

.navlink {
    color: black;
    text-decoration: None;
}

#navigation {
    list-style: none;
    float: right;
    margin: 50px;
}
.headlink {
    text-align: center;
    padding-top: 5px;
}
.underhead {
    font-size: 1em;
}
.content {
    margin: 30px;
    float: left;
    width: 1000px;
}

.abouttext {
    width: 700px;
    margin: 40px;
}
.input {
    margin: 10px auto 0px auto;
    width: 200px;
}
.chart {
    width: 950px;
    margin-bottom: 50px;
}
#cdids {
    width: 100%;
    float: left;
    list-style: None;
}
.data {
    width: 60%;
    margin: 15px 90px;
    padding: 30px;
    border: dotted gray 1px;
    overflow: hidden;
}
ul {
    transition: background 1s;
    list-style: none;
    padding-left: 0px;
    padding-start: 0px;
}
#chart_div {
    float: left;
}
#chart_ui {
    text-align: center;
    float: left;
    margin-top: 100px;
    mawgin-left: 30px;
}
.ui_elem {
    padding: 2px;
    margin: 0px;
    background: white;
}

.ui_elem_selected {
    padding: 2px;
    margin: 0px;
    background: #FFCC88;
}

#ui_chart_scale {
    margin-top: 20px;
}
#tool_tip{
    padding:5px;
    background-color: #577FAF;
    display:none;
    position:absolute;
}